<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>


    <style>
        label, input{
            display: block;
        }
    </style>
</head>
<body>
    
    <label for="">EMAIL</label>
    <input type="email">

    <label for="">USER</label>
    <input type="text">


    <label for="">CPF</label>
    <input type="number">


    <label for="">SENHA</label>
    <input type="password">

    <label for="">CONFIRMAR SENHA</label>
    <input type="password">

    <button>Cadastro</button>
    <a href="../../../index.html">Login</a>
</body>
</html>